In [1]:
import pandas as pd
import numpy as np
import re
import datetime as dt

import matplotlib.pyplot as plt

In [13]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
path_data = 'data/'
path_train = path_data + 'Data_Train.xlsx'
path_test = path_data + 'Test_set.xlsx'

In [3]:
data_raw = pd.read_excel(path_train)
data_raw.shape

(10683, 11)

In [4]:
data_raw

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [5]:
def get_unique_in_df(df):
    uniq_col_val = {col: df[col].unique() if df[col].nunique()<=12 else [df[col].nunique()] for col in df.columns}
    return uniq_col_val

In [6]:
get_unique_in_df(data_raw)

{'Airline': array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
        'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
        'Vistara Premium economy', 'Jet Airways Business',
        'Multiple carriers Premium economy', 'Trujet'], dtype=object),
 'Date_of_Journey': [44],
 'Source': array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object),
 'Destination': array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
       dtype=object),
 'Route': [128],
 'Dep_Time': [222],
 'Arrival_Time': [1343],
 'Duration': [368],
 'Total_Stops': array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
       dtype=object),
 'Additional_Info': array(['No info', 'In-flight meal not included',
        'No check-in baggage included', '1 Short layover', 'No Info',
        '1 Long layover', 'Change airports', 'Business class',
        'Red-eye flight', '2 Long layover'], dtype=object),
 'Price': [1870]}

## feature engineering strategies
Date related features
- day of week
- day of month

Time related features
- hour bucket (early morning, morning, afternoon, evening, late evening)
- duration of flight 

Total stops


Additional info

In [7]:
df = data_raw.copy()
df.shape

(10683, 11)

In [14]:
# df['doj'] = df['Date_of_Journey'].apply(lambda x: dt.datetime.date.strftime(x, "%d/%m/%Y"))
df['doj'] = pd.to_datetime(df['Date_of_Journey'], infer_datetime_format=True)
df.loc[0:3, 'doj']
df['doj'][0]

0   2019-03-24
1   2019-05-01
2   2019-06-09
3   2019-05-12
Name: doj, dtype: datetime64[ns]

Timestamp('2019-03-24 00:00:00')

Timestamp('2019-03-24 00:00:00')